.clear_both {
	clear: both;
}

fieldset {
	border: 0px;
	float: right;
}

input {
	font-size: 1em;
}

p {
	line-height: 1.5em;
}

#footer {
	text-align: center;
}

#title {
	font-size: 2em;
	color: black;
	text-decoration: none;
	float: left;
	text-shadow: 2px 2px #DDD;
}

.column {
	width: 40%;
	padding-left: 5%;
	padding-right: 5%;

	float: left;
}

.product {
	margin-bottom: 25px;
	margin-top: 25px;
}

@media (max-width: 640px) {
	.column {
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
	}
}

.logo {
	height: 75px;
}

.logo_small {
	height: 2em;
	float: left;
	/* some logos fit their exact dimensions, avoid awkward spacing */
	margin-right: 20px;
}
