fieldset {
	border: 0px;
}

p {
	line-height: 1.5em;
}

.column {
	width: 40%;
	padding: 0 4% 0 4%;
	display: inline-block;
	vertical-align: top;
}

.product {
	padding: 0.5em;
	margin: 0.3em 0 0.3em 0;
	border: 1px solid gray;
	border-radius: 3px;
	min-width: 800px;
}

.sloth {
	height: 3em;
}

@media (max-width: 640px) {
	.manufacturers {
		width: 100%;
		padding: 0 0 0 0;
	}

	.column {
		width: 100%;
		padding: 0 0 0 0;
	}
}

@media (max-width: 1280) {
	.manufacturers {
		width: 40%;
		padding: 0 5% 0 5%;
	}
}

@media print {
	body {
		width: 100%;
	}
}

.logo {
	vertical-align: middle;
	padding: 5px;
}

.manufacturers {
	padding: 0 2% 0 2%;
	width: 29%;
	display: inline-block;
	vertical-align: top;
}

.manufacturers img {
	height: 3em;
}

.retailers {
	padding: 0 2% 0 2%;
	width: 95%%;
}

.retailers img {
	height: 4em;
}

.product_index {
	width: 14%;
	padding: 0 1% 0 1%;
	display: inline-block;
	vertical-align: top;
}

.list_item {
	vertical-align: middle;
	padding: 5px;
}

.logo_small {
	height: 1em;
}

/* horizontal rulers, plus date ticks */
.chart_rulers {
	stroke: #BBB;
	stroke-width: 0.5;
}

/* x axis labels */
.chart_date {
	font-size: 0.6em;
	fill: black;
}

/* y axis labels */
.chart_price {
	font-size: 0.7em;
	fill: black;
}

/* retailer date series */
.chart_series {
	fill-opacity: 0;
	stroke-width: 2;
	stroke-opacity: 0.8;
}

.chart_series:hover {
	stroke-width: 3;
}

.chart_retailer_text {
	font-size: 0.6em;
	font-family: sans-serif;
}

.chart_data {
	fill: white;
	stroke-width: 2;
	stroke-opacity: 0.8;
}

.breakdown {
	font-size: 0.8em;
}
