*** paths ***

http	= /var/www/htdocs/pricegraph
data	= data		# must be a directory
log	= pricegraph.txt

*** products ***

+ Samsung

++ UN32F5500
++ UN32EH4003
++ UN32EH5300
++ UN39EH5003
++ HG40NA570L
++ UN40EH5300
++ UN40FH6030
++ UN40F5500
++ UN40F6300
++ UN46EH5300
++ UN46F5500
++ UN46F6300
++ UN46F6800
++ UN46FH6030
++ UN50EH5300
++ UN50F5500
++ UN50F6300
++ UN50F6800
++ UN55F6300
++ UN55F6800
++ UN55F7050
++ UN55F7100
++ UN55F8000
++ UN55FH6030
++ UN55FH6200
++ UN55F7500
++ UN55F9000
# ++ KN55S9
++ UN60ES6500
++ UN60F6300
++ UN60F6400
++ UN60F7050
++ UN60F7100
++ UN60F8000
++ UN60FH6200
++ UN65EH6000
++ UN65F6300
++ UN65FH6001
++ UN65F6400
++ UN65F7100
++ UN65F8000
++ UN65F9000
++ UN75F6300
++ UN75F7100
++ UN75F8000
++ UN85S9

+ Toshiba

++ 32L1300UC
++ 39L1350UC
++ 39L4300UC
++ 50L1350UC
++ 50L4300UC
++ 50L5300
++ 50L7300
++ 58L1350
++ 58L7350UC
++ 58L9300
++ 65L7350UC
++ 65L9300
++ 84L9300

+ Sharp

++ LC60C8470U
++ LC60LE450U
++ LC60LE550U
++ LC60LE650U
++ LC60LE757U
++ LC70C8470U
++ LC70LE550U
++ LC70LE650U
++ LC70LE757U
++ LC80LE642U
++ LC80LE650U
++ LC80LE757U
++ LC80LE857U
++ LC90LE657U

+ Sony

++ KDL32R400A
++ KDL40R450A
++ KDL46R450A
# ++ KDL47W802A
# ++ KDL50R550A
++ KDL55W802A
++ KDL55W900A
# ++ KDL60R550A
++ KDL70R550A
++ XBR55X900A
++ XBR65X900A

+ Panasonic

++ TCL32B6
++ TCL42E60
++ TCL47ET60
++ TCL55ET60
++ TCL55WT50

+ LG

++ 32LN530B
++ 32LN5700
++ 42LA6205
++ 42LN5300
++ 42LN5400
++ 42LN5700
++ 47LA6205
++ 47LN5400
++ 47LN5750
++ 50LA6205
++ 50LN5310
++ 50LN5750
++ 55LA8600
++ 55LN5310
++ 55LN5400
++ 55LN5750
++ 60LA7400
++ 60LA8600
++ 65LA9700


*** vendors ***

+ Memory Express
#
# On sale:
# <div class="PIV_BotPrices">
# 	<div class="PIV_PriceRegular">Reg: <span>$359.99</span></div>
# 	<div class="PIV_PriceSale">
# 		$279.99
# 	</div>
# </div>
#
# Regular price:
# <div class="PIV_BotPrices">
# 	<div class="PIV_Price">
#		<span>$359.99</span>
#	</div>
# </div>
#
color		= 56B849
search_uri	= http://www.memoryexpress.com/Search/Products?Search=
title		= .ProductTitle
reg_price	= .PIV_Price
sale_price	= .PIV_PriceSale

+ Future Shop
color		= BA0024
search_uri	= http://www.futureshop.ca/Search/SearchResults.aspx?query=
title		= .prod-title
reg_price	= .dollars

+ Visions Electronics
#
# <td class="price">
# 	<span id="ctl00_..." class="regPrice">Price: <span>$509.99</span></span>
# 	<span id="ctl00_..." class="salePrice">Sale Price: $336.00</span>
# </td>
#
# price is a unique class when only a single product is returned and
# can be used to make sure only a single product has been returned.
# Products that are on sale return both regPrice and salePrice classes
# while regularly priced productes only return the regPrice class.
#
color		= 000
search_uri	= http://www.visions.ca/catalogue/category/ProductResults.aspx?searchText=
title		= .plProductName
reg_price	= .regPrice
sale_price	= .salePrice

+ London Drugs
color		= 005DAB
search_uri	= http://www.londondrugs.com/on/demandware.store/Sites-LondonDrugs-Site/default/Search-Show?q=
title		= .productname
reg_price	= .pricing
#reg_price	= .standardprice
#sale_price	= .salesprice

+ Amazon
color		= FFA51D
search_uri	= http://www.amazon.ca/s/keywords=
title		= .newaps
reg_price	= .price

# + Tiger Direct
# color		= 660
# search_uri	= http://www.tigerdirect.ca/applications/SearchTools/search.asp?keywords=
# price_context	=
# reg_price	= .salePrice
# sale_price	=

+ Best Buy
color		= 003B64
search_uri	= http://www.bestbuy.ca/Search/SearchResults.aspx?query=
title		= .product-title, .prod-title
#sale_price	= .price-onsale
reg_price	= .prodprice

# + RadioShack
# color		= E76453
# search_uri	= http://www.radioshack.com/search/controller.jsp?kw=
# title		= .title
# price_context	= .product-price-tag
# reg_price	= .price

# + Walmart
# color		= 0000FF
# search_uri	= http://www.walmart.ca/search/
# title		= .title
# reg_price	= .price-current
