.clear_both {
	clear: both;
}

fieldset {
	border: 0px;
	padding: 0px;
}

p {
	line-height: 1.5em;
}

#footer {
	text-align: center;
}

.column {
	width: 40%;
	padding-left: 5%;
	padding-right: 5%;
	float: left;
}

.product {
	margin-bottom: 25px;
	margin-top: 25px;
}

@media (max-width: 640px) {
	.column {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
}

.logo {
	vertical-align: middle;
	padding: 5px;
}

.manufacturers {
	height: 3em;
	vertical-align: middle;
	padding: 5px;
}

.retailers {
	height: 4em;
	vertical-align: middle;
	padding: 5px;
}

.logo_small {
	height: 1em;
}

/* horizontal rulers, plus date ticks */
.chart_rulers {
	stroke: #BBB;
	stroke-width: 0.5;
}

/* x axis labels */
.chart_date {
	font-size: 0.6em;
	fill: black;
}

/* y axis labels */
.chart_price {
	font-size: 0.7em;
	fill: black;
}

/* retailer date series */
.chart_series {
	fill-opacity: 0;
	stroke-width: 1;
}

.chart_series:hover {
	stroke-width: 2;
}

.chart_series_text {
	font-size: 0.5em;
	text-decoration: bold;
}

.chart_data {
	fill: white;
	stroke-width: 1;
}

.chart_data:hover {
	stroke-width: 2;
}
