fieldset {
	border: 0px;
}

p {
	line-height: 1.5em;
}

li {
	line-height: 1.5em;
}

body {
	/* margin-top: 1em; */
	font-family: sans-serif;

	/* i don't want to read anything wider than that */
	max-width: 80em;
	margin: auto;

	border-left: 1px dashed gray;
	border-right: 1px dashed gray;
}

.menu_bar {
	/* space at the top for round sloth face to poke out */
	margin-top: 1.25em;
	background-color: green;
}

.menu_bar_title {
	font-size: 2em;
	/* width of the sloth face... ish */

	display: inline-block;
	color: white;
	font-weight: bold;
}

.search_box {
	display: inline-block;
	height: 2em;
}

.column {
	display: inline-block;
	vertical-align: top;

	/* by default there will be two of these side by side */
	width: 45.5%;
	padding: 0 2% 0 2%;
}

.product {
	padding: 0.5em;
	margin: 0.3em 0.3em 0.3em 0.3em;
	border: 1px solid gray;
	border-radius: 3px;
}

.sloth {
	width: 5em;
	height: 5em;
	border-radius: 2.5em;
	-webkit-border-radius: 2.5em;
	-moz-border-radius: 2.5em;
	background: url(http://pricesloth.com/pricesloth.jpg) no-repeat;

	margin-top: -1.25em;
	margin-bottom: -2em;

	margin-left: 0.5em;
	display: inline-block;
}

@media (max-width: 640px) {
	/* anything smaller than this go into single user mode */
	.column {
		width: 90%;
		padding: 0 5% 0 5%;
	}

	.logo {
		max-width: 100%;
	}
}

@media (max-width: 1280) {
}

@media print {
	body {
		width: 100%;
	}
}

.logo {
	height: 3em;
}

.retailer_logo {
	width: 15em;
}

.product_type {
	width: 15em;
}

.product_index {
	width: 14%;
	padding: 0 1% 0 1%;
	display: inline-block;
	vertical-align: top;
}

.list_item {
}

.logo_small {
	height: 0.7em;
}

/* used in about page to indicate online status */
.online_text {
	color: limegreen;
	font-weight: bold;
}
