fieldset {
	border: 0px;
}

p {
	line-height: 1.5em;
}

li {
	line-height: 1.5em;
}

body {
	font-family: sans-serif;
	margin: 0;
}

.menu_bar {
	/* space at the top for round sloth face to poke out */
	margin-top: 1.0em;
	background-color: forestgreen;
}

.menu_bar_title {
	font-size: 2em;
	font-weight: bold;
	color: white;

	display: inline-block;
}

.search_box {
	display: inline-block;
	height: 2em;
}

.column_container {
	max-width: 80em;
	margin: auto;
}

.column {
	display: inline-block;
	vertical-align: top;

	/* by default there will be two of these side by side */
	width: 45.5%;
	padding: 0 2% 0 2%;
}

.product_column {
	display: inline-block;
	vertical-align: top;

	width: 49.8%;
}

.product {
	padding: 6px;
	border: 1px solid gray;
	border-radius: 3px;
}

.product_title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sloth {
	width: 5em;
	height: 5em;
	border-radius: 2.5em;
	-webkit-border-radius: 2.5em;
	-moz-border-radius: 2.5em;
	background: url(http://pricesloth.com/pricesloth.jpg) no-repeat;

	margin-top: -1.25em;
	margin-bottom: -2em;

	display: inline-block;
}

@media (max-width: 640px) {
	/* anything smaller than this go into single column mode */
	.column {
		width: 95%;
		padding: 0 2% 0 2%;
	}

	.product_column {
		width: 100%;
		padding: 0 0 0 0;
	}

	.logo {
		max-width: 100%;
	}
}

.logo {
	height: 3em;
}

.retailer_logo {
	width: 15em;
}

.product_type {
	width: 15em;
}

.list_item {
}

.logo_small {
	height: 0.7em;
}

/* used in about page to indicate online status */
.online_text {
	color: limegreen;
	font-weight: bold;
}
