[% WRAPPER wrapper.tt %]
	<h1><img alt="[% name %]" class="logo" src="/logo/[% name_lc %].svg"></img>
		([% num_products %] total)</h1>
	[% FOREACH part IN products.keys.sort %]
	<hr>
	<div class="product">
		<img alt="[% products.$part.manufacturer %]" class="logo_small"
			src="/logo/[% products.$part.manufacturer_lc %].svg"></img>
		[% products.$part.description %] ([% part %])<br>
		<object data="/svg/[% part %].svg" type="image/svg+xml">
		</object>
	</div>
	[% END %]
[% END %]
