[% WRAPPER wrapper.tt %]
	<div class="column">
		<h1>[% name %] List ([% num_manufacturers %])</h1>
		<ul>
			[% FOREACH manufacturer IN manufacturers %]
			<li><a href="/[% name_lc %]/[% manufacturer.1 %].html">
				<img alt="[% manufacturer.0 %]" class="logo"
					src="/logo/[% manufacturer.1 %].svg">
				</img>
			</a>
			[% END %]
		</ul>
	</div>
[% END %]
