[% WRAPPER wrapper.tt %]
	<div class="column">
		<h1>[% name %] List ([% num_manufacturers %])</h1>
		<ul>
			[% FOREACH manufacturer IN manufacturers %]
			<li><a href="/[% name_lc %]/[% manufacturer.1 %].html">
				  <img class="logo" src="/logo/[% manufacturer.1 %].svg">
					[% manufacturer.0 %]</img>
				</a>
			[% END %]
		</ul>
	</div>
[% END %]
