[% WRAPPER wrapper.tt %]
	<p>Found <b>[% num_results %]</b> search
	[% IF num_results == 1 %]
		result
	[% ELSE %]
		results
	[% END %]
	for <b>[% query %]</b>:</p>
	
	[% FOREACH part_num IN results %]
	<div class="product">
		<a href="/manufacturers/[% part_num.3 %].html">
			<img alt="[% part_num.0 %]" class="logo_small"
			src="/logo/[% part_num.3 %].svg"/></a>

		[% part_num.1 %]<br>

		<object data="/svg/[% part_num.2 %].svg" type="image/svg+xml">
		</object>
	</div>
	[% END %]
[% END %]
