[% WRAPPER wrapper.tt %]
	<h1><img alt="[% name %]" class="logo_small" src="/logo/[% logo %]"/></h1>

	<ul>
	[% FOREACH item IN info %]
		<li><a href="/[% type %]/[% item.0 %].html">
			[% item.0 %]
		</a>: [% item.1 %]
	[% END %]
	</ul>
[% END %]
