<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width" />
	<title>PriceSloth</title>
	<link rel="stylesheet" type="text/css" href="/pricesloth.css" />
	<link rel="icon" type="image/jpeg" href="/logo/pricesloth.jpg">
</head>
<body>
	<div class="menu_bar">
		<a href="/about.html">
			<img class="sloth" src="/logo/pricesloth.jpg">
		</a>
		<div class="menu_bar_title">PriceSloth</div>

		<form class="search_box" method="get" action="/search.html">
			<fieldset>
				<input type="text" name="q" />
				<input type="submit" value="Search">
			</fieldset>
		</form>
	</div>

	[% content %]
</body>
</html>
